<h2><%= @post.title %></h2>
<p><%= simple_format @post.body %></p>

<h3>Komentáre:</h3>
<nav class="commntar">
	<%= link_to "Pridaj komentár", new_post_coment_path(@post)  %>
</nav>
<div class="coments">
	<%if @coments.any? %>
		<%= nested_comnts @coments  %>
	<% else %>
		Tento článok ešte nikto nekomentoval.
	<% end %>
</div>
<nav>
	<%= link_to "Späť", root_path %>
</nav>